body{background: #efefef; margin: 0px;}
a{color: inherit; text-decoration: none;}
*{padding: 0px; margin: 0px;}
ul,ol{list-style: none;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
hr{height: 0px;border: 0;border-top: 1px solid #dadada;}
.fl{float: left;}
.fr{float: right;}
.clearfix::after{content: "";display: block;clear:both;}
 
.topnavbar{padding: 20px 0;position: fixed;top: 0;left: 0;width: 100%;transition: all 0.5s;color: #b7b7b7;}
.topnavbar.sticky{background: #fff;padding: 10px 0;box-shadow: 0 0 10px rgba(0,0,0,0.5);z-index: 1;color: #3d4451;}
.topnavbar-c{padding: 0 16px;}
.topnavbar nav{padding-top: 6px;padding-bottom: 2px;}
.topnavbar nav>ul{list-style: none;margin:0;padding: 0;/* border: 1px solid red; */}
.topnavbar nav>ul>li{float: left;/* border: 1px solid green; */margin-left: 17px;margin-right: 17px;position: relative;}
.topnavbar nav>ul>li>a{font-size: 12px;color:inherit;font-weight: 700;border-bottom: 3px solid transparent;border-top: 3px solid transparent;display: block;padding-top: 5px;padding-bottom: 5px;position: relative;}
.topnavbar nav > ul > li.active > a::after,
.topnavbar nav > ul > li.highlight > a::after{content: "";display: block;position: absolute;top: 100%;left: 0;width:100%;height: 3px;animation: muneBottom 0.5s;background: #e35c64;}
@keyframes muneBottom{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
.topnavbar .submenu{display: none;position: absolute;top: 100%;right: 0;background: #fff;color: #3d4451;animation: submenuright 0.5s;box-shadow: 0 0 3px rgba(0,0,0,0.5);cursor: default;}
@keyframes submenuright{
    0%{
        margin-right: 100%;
    }
    100%{
        margin-right: 0;
    }
}
.topnavbar li.active .submenu{display: block;}
.topnavbar .submenu > li{white-space: nowrap;padding: 5px 10px;}
.topnavbar .logo {font-size: 25px;font-family: "Fredoka One";padding-top: 3px;padding-bottom: 4px;font-weight: 700;}
.topnavbar .logo .rs{color: #e35c64;margin-right: 4px;}
.topnavbar .logo .card{color: #919499;}
.banner{height: 515px;background: url(./img/rs-cover-2-2-1-1.jpg) no-repeat center center;background-size: cover;}
.banner .mask{
    height: 515px;
    background-color: rgba(0,0,0,0.8);
}
.usercard{
    /* border: 1px solid red; */
    max-width: 940px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
.usercard .welcome{
   background:  #e35c64;
   color: #fff;
   display: inline-block;
   padding: 4px 15px;
   line-height: 21px;
   position: relative;
}
.triangle{
    display: block;
    height: 0px;
    width: 0px;
    border-top:5px solid #e35c64;
    border-left:5px solid #e35c64;
    border-right:5px solid transparent;
    border-bottom:5px solid transparent;
    position: absolute;
    top: 100%;
    left: 4px;
}
.usercard .picandnext{
    padding: 50px;
}
.picandnext .text{
    margin-left: 63px;
    width: 470px;
}
.picandnext .text h1{
    margin: 26px 0 6px 0;
}
.picandnext .text hr{
    margin: 25px 0 26px 0;
}
.usercard dl dt,.usercard dl dd{
    float: left;
    padding: 7px 0;
}
.usercard dl dt{
    width: 30%;
    color: #333;
    font-weight: 700;
}
.usercard dl dd{
    width: 70%;
    color: #9da0a7;
}
.usercard .media{
    background: #e35c64;
    text-align: center;
}
.usercard > footer.media > a{
    display: inline-block;
    width: 50px;
    height: 40px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 16px;
}
.usercard > footer.media > a:hover{
    background: #CF5D5F;
}
.usercard svg{
    width: 30px;
    height: 40px;
    fill: #fff;
    border-top;
}
body > main{
    margin-top: -340px;
}
body > main .button{
    font-size: 15px;
    line-height: 16px;
    display: inline-block;
    padding: 21px 55px;
    border: 1px solid #cbcdcf;
    border-radius: 3px;
    color: #404651;
    font-weight: 700;
}
body > main .downloadResume{
    text-align:center;
    margin: 36px 0 42px 0;
}
body > main .button:hover{
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
    transition: box-shadow 0.2s;
}
.selfIntroduce{
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
    line-height: 26px;
}
section.skills,section.sample{
    max-width: 940px;
    margin: 60px auto 0;
}
section.skills > h2,section.sample > h2{
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}
section.skills > ol{
    background: #fff;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    padding: 43px 20px 10px 50px;
    margin-top: 30px;
}
section.skills > ol > li{
    float: left;
    width:50%;
    box-sizing: border-box;
    padding-right: 30px;
}
section.skills .progress{
    height: 5px;
    background: #F9DEE0;
    width: 100%; 
    margin: 4px 0 43px;
    border-radius: 12px;
    overflow: hidden;
}
section.skills .progressBar{
    height: 100%;
    background: #E35C64;
    width: 70%;
    border-radius: 12px;
    transform: translateX(0);
    transition: all 1s;
}
section.skills.offset .progressBar{
    transform: translateX(-100%);
}
section.skills h3{
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
}
section.skills .progressBar2{
    width: 80%;
}
section.skills .progressBar3{
    width: 65%;
}
section.skills .progressBar4{
    width: 90%;
}
section.skills .progressBar5{
    width: 68%;
}
section.skills .progressBar6{
    width: 95%;
}
section.sample{
    text-align: center;
}
section.sample > nav{
    display: inline-block;
    text-align: center;

}
section.sample > nav > ol{ 
    display: inline-block;
    margin-top: 30px;
    vertical-align: top;
}
section.sample > nav > ol li{
    float: left;
    margin-right: 40px;
    cursor: pointer;
}
section.sample > nav > ol li:nth-child(3){
    margin-right: 0;
}
section.sample > nav .bar{
    background: #fff;
    /* border: 1px solid red; */
    height: 5px;
    border-radius: 3px;
    margin-top: 15px;
}
section.sample > nav .bar .nbar{
    height: 100%;
    background: #e35c64;
    border-radius: 3px;
}
section.sample > h2{margin-bottom: 32px;}
section.sample .swiper-container {width: 800px;height: 600px;} 
section.sample .swiper-slide{background: #fff;}
section.sample .swiper-button-prev,section.sample .swiper-button-next{background-color: rgba(255,255,255,0.5);width: 60px;height: 60px;border-radius: 50%;}
.icon {width: 1em; height: 1em;vertical-align: -0.15em;fill: currentColor;overflow: hidden;}